.content {
  margin: 50px;
}
table {
  width: 100%;
}
.tool-bar {
  margin: 0 0 15px 0;
}

.content mat-form-field {
  width: 100%;
}

.float-right {
  float: right;
}

.add-button {
  height: 60%;
}

