mat-sidenav {
  width: 280px;
  padding:15px;
}
.main-content {
  margin:50px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
.app-sidenav{
  width: 240px;
}
.content {
  margin: 50px;
}

.home-link {
  cursor: pointer;
}
